doctype
html(ng-app="application")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title AngularJS + Closure Compiler
    meta(name='description1', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // vendor:css
    // endinject
    // application:css
    // endinject
  body
    ui-view
    // vendor:js
    // endinject
    script(src="js/build.js")
    // templates
    // dev:require
    // bootstrap:js
    // endinject
